 fieldset{
    border: none;
}

table{
    border-collapse: collapse;
}

.hidden{
    position: absolute;
    top: -999999999px;
    opacity: 0;
}

.join{
    width: 100%;
    padding: 150px 0;
    background-color: #fff;
    .inner{
        margin: 0 auto;
        margin-left: 57%;
        margin-top: -3%;
        h1{
            position: absolute;
            font: bold 80px/1 "arial";
            color: #888;
            left: 11%;
            top: 43%;
        }
        p{
            position: absolute;
            font: normal 20px/1 arial;
            color: #999;
            left: 6%;
            top: 55%;
        }
        img{
            width: 1100px;
            height: 100%;
            object-fit: cover;
            position: absolute;
            margin-top: -93px;
            //top: 13%;
            left: -10%;
            opacity: 40%;
        }
        h2{
            font: normal 60px/1 "Raleway";
            color: #555;
            margin-bottom: 50px;
        }
        table{
            border-top: 2px solid #333;
            border-bottom: 2px solid #333;
            th,
            td{
                border-bottom: 1px solid #ddd;
                height: 65px;
                padding: 15px 25px;
            }

            th{
                width: 20%;

                input[type="reset"],
                input[type="submit"] {
                    width: 30%;
                    height: 40px;
                    border: 1px solid #333;
                    margin: 10px;
                    font: bold 14px/40px "맑은 고딕";
                    color: #555;
                    cursor: pointer;
                    background-color: #fff;

                    &:hover {
                        background-color: #333;
                        color: #fff;
                    }
                }
            }
            td{
                border-left: 1px solid #aaa;
                position: relative;
            }
            input[type="checkbox"] {
                margin-right: 30px

            }
            textarea {
                resize: none;
                width: 60%;
                height: 150px;
                padding: 10px;
                border: 1px solid #aaa;
                background-color: rgba(0, 0, 0, 0.03);
            }
            p {
                // js동적으로 생성할 태그
                font: bold 11px/1 "맑은 고딕";
                color: darkred;
                margin-top: 10px;
                position: static;
            }
        }
    }
}

@media screen and (max-width:1199px){
    .join{
        .inner{
            margin-left: 10%;
            h1{
                font: bold 0px/1 "arial";
            }
            p{
                font: normal 0px/1 arial;
            }
            img{
                display: none;
            }
            h2{
                font: normal 17vw/1 "Raleway";
            }
            table{
                input[type="checkbox"] {
                    margin-right: 70px;
                }
            }
        }
    }
}